@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #f5f9ff;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 300;
  src: url('../public/assets/fonts/Poppins-Light.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 400;
  src: url('../public/assets/fonts/Poppins-Regular.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 600;
  src: url('../public/assets/fonts/Poppins-SemiBold.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 700;
  src: url('../public/assets/fonts/Poppins-Bold.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-weight: 900;
  src: url('../public/assets/fonts/Poppins-Black.ttf');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-weight: 500;
  src: url('../public/assets/fonts/PlayfairDisplay-SemiBold.ttf');
  font-style: normal;
  font-display: swap;
}
